<DOCTYPE html>
    <html lang="eng">
    <head>
      <meta charset="UTF-8">
      <title>Green Light - Questions</title><link rel="stylesheet" href="{{ url_for('static', filename='css/questiontemplate.css') }}">
      <link href='https://fonts.googleapis.com/css?family=Inter|Impact|Poppins' rel='stylesheet'>
    </head>
    <body>
        <nav>
            <img id="logo"
                src=".\static\Logo.jpg" alt="Logo">
            <ul>
              <li><a href="http://127.0.0.1:5000/question1">HOME</a></li>
              <li><a href="#">ABOUT US</a></li>
              <li><a href="#">CONTACT US</a></li>
            </ul>
          </nav>
        <br><br><br><br>
            <p id="questn">DO YOU OFTEN FEEL GUILTY ABOUT THE EVENT?</p>
            <input type="radio" id="myPTSD2" name="PTSD2" value="Very Often"><p class = "radiotext">Very Often</p>
            <input type="radio" id="myPTSD2" name="PTSD2" value="Sometimes"><p class = "radiotext">Sometimes</p>
            <input type="radio" id="myPTSD2" name="PTSD2" value="Very Rarely"><p class = "radiotext">Very Rarely</p>

            
            <button type="button" onclick="prev()" class="button prevq" style="margin-top: 275px;">Back</button>
            <button type="button" onclick="getInputValue(); next();" class="button nextq">Next</button>
            
            <script>
              function getInputValue(){
                  // Selecting the input element and get its value 
                  var inputVal = document.getElementsByName("PTSD2");
                  for(i=0; i<inputVal.length; i++)
                  {
                    if(inputVal[i].checked)
                        var intrst = inputVal[i].value;
                  }

              }
              function prev(){
                
                window.location.href = "http://127.0.0.1:5000/question18a";
               }
              function next(){
                  window.location.href = "http://127.0.0.1:5000/question18c";
              }
                  </script>
        
            <img id = "blob2"
              src = "./static/blob-left-1.jpg">
    </body>
    </html>