<DOCTYPE html>
    <html lang="eng">
    <head>
      <meta charset="UTF-8">
      <title>Green Light - Questions</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/questiontemplate.css') }}">
      <link href='https://fonts.googleapis.com/css?family=Inter|Impact|Poppins' rel='stylesheet'>
    </head>
    <body>
        <nav>
            <img id="logo"
                src=".\static\Logo.jpg" alt="Logo">
            <ul>
              <li><a href="http://127.0.0.1:5000/question1">HOME</a></li>
              <li><a href="#">ABOUT US</a></li>
              <li><a href="#">CONTACT US</a></li>
            </ul>
          </nav>
        <br><br><br><br>
            <p id="questn">RATE HOW MUCH INTERESTED YOU ARE IN BEING ENGAGED IN ACTIVITIES THAT YOU LOVE</p>
            <!-- <input type="radio" id="myAppetite" name="poorAppetite">Poor Appetite -->
            <input type="radio" id="myInterest" name="interest" value="Not at all interested"><p class = "radiotext">Not at all interested</p>
            <input type="radio" id="myInterest" name="interest" value="Moderately interested"><p class = "radiotext">Moderately interested</p>
            <input type="radio" id="myInterest" name="interest" value="Interested"><p class = "radiotext">Interested</p>
            <input type="radio" id="myInterest" name="interest" value="Really interested"><p class = "radiotext">Really interested</p>

            <!-- <textarea name="textarea" placeholder="Write your answer here" id="ansInput" rows="15"></textarea> -->
            <button type="button" onclick="prev()" class="button prevq" style="margin-top: 275px;">Back</button>
            <button type="button" onclick="getInputValue(); next();" class="button nextq">Next</button>
            
            <script>
              function getInputValue(){
                  // Selecting the input element and get its value 
                  var inputVal = document.getElementsByName("interest");
                  for(i=0; i<inputVal.length; i++)
                  {
                    if(inputVal[i].checked)
                        var intrst = inputVal[i].value;
                  }
                  s = JSON.stringify(intrst);
                  $.ajax({
                  url:"/test",
                  type:"POST",
                  contentType: "application/json",
                  data: JSON.stringify(s)})
                  
              }
              function prev(){
                // <div class="alert">
                //   <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                //     Your progress has not been saved. Are you sure you want to go back?
                // </div>
                window.location.href = "http://127.0.0.1:5000/question8";
               }
              function next(){
                  window.location.href = "http://127.0.0.1:5000/question10";
              }
                  </script>
        
            <img id = "blob2"
              src = "./static/blob-left-1.jpg">
    </body>
    </html>