<DOCTYPE html>
    <html lang="eng">
    <head>
      <meta charset="UTF-8">
      <title>Green Light - Questions</title>
      <link rel="stylesheet" href="F:\projects\GREEN LIGHT\GreenLight-QuestionPage\questiontemplate.css">
      <link href='https://fonts.googleapis.com/css?family=Inter|Impact|Poppins' rel='stylesheet'>
    </head>
    <body>
        <nav>
            <img id="logo"
                src=".\static\Logo.jpg" alt="Logo">
            <ul>
              <li><a href="http://127.0.0.1:5000/question1">HOME</a></li>
              <li><a href="#">ABOUT US</a></li>
              <li><a href="#">CONTACT US</a></li>
            </ul>
          </nav>
          <div class="card1">
            <p style="font-family: 'Poppins'; font-size: 30px; color: #57B2B2; padding: 10px 20px; font-weight: bold;">YOUR SCORE IS :</p>
            <div class="container">
              <!-- result -->
              <p id='embed'>{{embed}}</p>
            </div>
          </div>

          <div class="card2">
            <p style="font-family: 'Poppins'; font-size: 30px; color: #F1FBF8; padding: 5px 20px 0px 20px; font-weight: bold;">TIPS!</p>
            <div class = "container">
              <p>1. Check out a mental health podcast.</p>
              <p>2. Take on a small, doable, uplifting home project.</p>
              <p>3. If you’d like to lean into distraction, might we suggest doing so with silly, entertaining, and downright engrossing TikToks?</p>
              <p>4. Dig into nostalgia, or the people, places, songs, games, and movies that have comforted you in the past</p>
              <p>5. Jump around! Move in a way that makes you feel happy, even if it’s just for a few minutes.</p>
            </div>
          </div>

    </body>
</html>