
nav{
    height: 100px;
   }

  nav ul{
    float:right;
    margin-right:20px;
  }

   nav ul li{
  display:inline-block;
  line-height:80px;
  margin:40px 14px 0px 14px;
  font-family: 'Inter';
  font-size : 20px;
}

 nav ul li a:link{
   color: black;
   text-decoration: none;
 }

 nav ul li a:visited{
   color : black;
 }

  nav ul li a:hover{
    background-color:#57B2B2;
    cursor:pointer;
    color:white;
    padding:10px;
    transition: 0.5s;
    border-radius: 15px;
  }

  #logo{
    width: 283px;
    height: 132px;
    float: left;
    margin-top: 20px;
    margin-left: 60px;
  }

  #questn{
    font-family: 'Poppins';
    font-size : 24px;
    color: #275C5C;
    margin-left: 125px;
  }

  textarea{
    width: 60%;
    box-sizing: border-box;
    padding: 20px;
    border: none ;
    background-color: #F1FBF8;
    outline: none;
    resize: none;
    margin-left: 125px;
    border-radius: 14px;
    box-shadow: 4px 6px 22px 1px rgba(0, 0, 0, 0.25);
  }

  .button{
      display: inline-block;
      font-family:'Poppins' ;
      font-size: 22px;
      color: white;
      background-color: #57B2B2;
      padding: 10px; 
      width: 266px;
      border-radius: 30px;
      border: none;     
  }

  .nextq{
    display: inline-block;
    margin-top: -54px;
    margin-left: 1215px;
  }

  .prevq{
    display: inline-block;
    margin-top: 80px;
    margin-left: 915px;
  }

  #blob2{
    width: 376px;
    height: 335px;
    float: left;
    margin-top: -275px;
    margin-left: -20px;
  } 