<DOCTYPE html>
  <html lang="eng">
  <head>
    <meta charset="UTF-8">
    <title>Green Light - Questions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/questiontemplate.css') }}">
    <!-- <link rel="stylesheet" href=".\static\css\questiontemplate.css"> -->
    <link href='https://fonts.googleapis.com/css?family=Inter|Impact|Poppins' rel='stylesheet'>
  </head>
  <body>
      <nav>
          <img id="logo"
              src=".\static\Logo.jpg" alt="Logo">
          <ul>
            <li><a href="http://127.0.0.1:5000/question1">HOME</a></li>
            <li><a href="http://127.0.0.1:5000/aboutus">ABOUT US</a></li>
            <li><a href="#">CONTACT US</a></li>
          </ul>
        </nav>
      <br><br><br><br>
   
          <p id="questn">HOW DO YOU DESCRIBE YOUR NORMAL DAY?</p>
          <textarea name="textarea" placeholder="Write your answer here" id="ansInput" rows="15"></textarea>
          <button type="button" onclick="prev()" class="button prevq">Back</button>
          <button type="button" onclick="getInputValue(); next();" class="button nextq">Next</button>
          
          <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>

          <script>
            function getInputValue(){
                // Selecting the input element and get its value 
                var inputVal = document.getElementById("ansInput").value;
                s = JSON.stringify(inputVal);

                $.ajax({
                  url:"/question1",
                  type:"POST",
                  contentType: "application/json",
                  data: JSON.stringify(s)
                });
            }
            function prev(){
            window.location.href = "http://127.0.0.1:5000/";
             }
            function next(){
                 window.location.href = "http://127.0.0.1:5000/question2";
            }
                </script>
      
          <img id = "blob2"
            src = "./static/blob-left-1.jpg">
  </body>
  </html>
